body {
  align-items: center;
  background-image: url('../images/bcg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 5em;
  text-align: center;
}

.bomb {
  background-color: #63a19c !important;
  font-size: 3em !important;
}

.clicked-bomb {
  background-color: yellow !important;
  font-size: 3em !important;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 430px;
  justify-content: center;
  width: 430px;
}

.grid div {
  background-color: #63a19c;
  border: 1.5px solid  #bdc8c7;
  color: white;
  outline: 2px solid #3e5856;
  height: 40px;
  width: 40px;
}

.revealed {
  background-color: #8cd1cb !important;
  color: white !important;
  font-size: 3em !important;
  text-align: center !important;

}

#start-game {
  display: flex;
  justify-content: center;
}
#easy-start-button {
  background-color: rgb(114, 49, 20);
  color: white;
  font-size: 2em;
  font-weight: 700;
  height: 50px;
  margin: 20px auto;
  width: 200px;
}

.stats {
  align-items: center;
  background-color:rgb(19, 25, 73);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 2.5em;
  height: 65px;
  justify-content: space-around;
  width: 433px;
}


