body {
    background-color:#17b7ac;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
}

h1 {
    color: white;
    font-size: 5em;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    gap: 10px 10px;
    grid-template: repeat(10, 20px) / repeat(10, 20px);
    height: 400px;
    margin-left: 35%;
    max-width: 400px;
    position: relative;
    text-align: center;
}

.grid div {
    background-color: #7ceae1;
    border: 1.5px solid #8ed1cb;
    height: 25px;
    width: 25px;
  }

.stats {
    align-items: center;
    color: white;
    display: flex;
    font-size: 3em;
    justify-content: space-evenly;
}

