body {
  align-items: center;
  background-image: url('../images/bcg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  justify-content: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 6em;
  margin: 20px auto;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

footer {
  width: 100%;
  height: 20px;
}

footer p {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

#choose-level {
  background-color: rgb(19, 25, 73);
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgb(178, 179, 177);
  color: white;
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 20px 20px;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.grid > div {
  background-color: #63a19c;
  border: 1.5px solid  #bdc8c7;
  color: white;
  text-align: center;
  outline: 2px solid #3e5856;

}

#start-game {
  display: flex;
  justify-content: center;
}

#easy-start-button {
  background-color: rgb(114, 49, 20);
  color: white;
  font-size: 2em;
  font-weight: 700;
  height: 50px;
  margin: 20px;
  width: 150px;
}

#medium-start-button {
  background-color: rgb(114, 49, 20);
  color: white;
  font-size: 2em;
  font-weight: 700;
  height: 50px;
  margin: 20px;
  width: 150px;
}

#hard-start-button {
  background-color: rgb(114, 49, 20);
  color: white;
  font-size: 2em;
  font-weight: 700;
  height: 50px;
  margin: 20px;
  width: 150px;
}

#stats {
  align-items: center;
  background-color:rgb(19, 25, 73);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 2.5em;
  height: 65px;
  justify-content: space-around;
}


